# pip distribution folder
dist/

# datasets folder at top-level (leading slash)
/datasets/

#Trained models , configs (JSON files)
robomimic/exps/
hbc_trained_models/
robomimic/scripts/final_cfgs
downloaded_data_mimic_gen
robomimc/scripts/gaze_pred_MLP/training/wandb/
# local test dataset that is lazily downloaded by example scripts
tests/assets/test.hdf5
tests/assets/test_v141.hdf5

# pycharm configs
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*.mp4
*.pth

# private macros
macros_private.py
robomimic/algo/gl.py
robomimic/scripts/gaze_pred_MLP/training/wandb/latest-run
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/run-zgr4qoys.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/run-ct6ca1ao.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/run-mxbv3mlk.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/run-zevsyxv5.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/run-5w0ivxsd.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/run-fg30iyuz.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/run-svvd2ctt.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/latest-run
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/run-zgr4qoys.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_175715-zgr4qoys/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/run-ct6ca1ao.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_180000-ct6ca1ao/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/run-mxbv3mlk.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181717-mxbv3mlk/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/run-zevsyxv5.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181748-zevsyxv5/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/run-5w0ivxsd.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_181955-5w0ivxsd/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/run-fg30iyuz.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182035-fg30iyuz/files/wandb-summary.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/run-svvd2ctt.wandb
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/files/conda-environment.yaml
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/files/wandb-metadata.json
robomimic/scripts/gaze_pred_MLP/training/wandb/offline-run-20240205_182420-svvd2ctt/files/wandb-summary.json
